.bg-color {
    background-color: rgb(33, 37, 41);
}

.navbar-collapse-background{
    background-color: rgba(155, 101, 11, 1.0);

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(135deg,
            rgba(155, 101, 11, 1.0),
            rgba(217, 147, 33, 1.0) 100%);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(90deg,
            rgba(155, 101, 11, 1.0),
            rgba(219, 149, 34, 1.0) 100%);
}


@media screen and (min-width: 1200px){
    .navbar-collapse-background{
        height: 56px;
    }
}

.brand {
    position: absolute;
    left: 50%;
    top: 0px;
    background-color: rgb(33, 37, 41);
    border: 4px solid rgb(33, 37, 41);
    border-radius: 50%;
}

.menu-item {
    color: rgb(33, 37, 41);
    font-weight: normal;
    text-align: center;
    position: relative;
    margin-left: 10px;
}

.menu-item:after {
    content: "";
    position: absolute;
    width: 0px;
    top: 100%;
    height: 3px;
    left: 0;
    background: rgb(33, 37, 41);
    transition: 300ms;
}

.menu-item:hover:after {
    width: 100%;
}

.menu-item:not(:hover):after {
    right: 0;
    left: auto;
}

p {
    color: rgb(33, 37, 41);
}

.main-title {
    color: rgb(222, 218, 214);
}

.banner {
    background-image: url("../assets/img/sc.jpg");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
}

.sc {
    top: 56px;
    position: relative;
}

.text {
    color: rgb(222, 218, 214);
}

.nav-btn {
    background-color: rgba(0, 0, 0, 0.0);
    border: 0px;
    font-size: 18px;
}

.popup {
    position: fixed;
    padding: 10px;
    width: 280px;
    left: 50%;
    margin-left: -150px;
    height: 280px;
    top: 50%;
    margin-top: -100px;
    z-index: 20;
    -webkit-box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.5);

    background-color: rgba(155, 101, 11, 1.0);

    /* Chrome 10-25, Safari 5.1-6 */
    background-image: -webkit-linear-gradient(135deg,
            rgba(155, 101, 11, 1.0),
            rgba(217, 147, 33, 1.0) 100%);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(135deg,
            rgba(155, 101, 11, 1.0),
            rgba(219, 149, 34, 1.0) 100%);

    background-repeat: no-repeat;
    background-size: cover;
}

.popup-btn {
    border-bottom: 2px solid transparent;
    transition: border 1.0s;
}

.popup-btn:hover {
    border-bottom: 2px solid rgb(33, 37, 41);
}

.popup-text {
    color: rgb(33, 37, 41);
}

.icon {
    color: rgb(33, 37, 41);
}

.btn-icon {
    font-size: 22px;
}

.input {
    background-color: rgb(222, 218, 214);
    color: rgb(33, 37, 41);
}

.offset {
    top: 84px;
    position: relative;
    padding: 10px;
}

.title {
    display: flex;
}

.title-icon {
    color: rgb(222, 218, 214);
}

.gradient-custom {
    /* fallback for old browsers */
    background: #a18cd1;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(180deg,
            rgba(29, 236, 197, 1.0),
            rgba(91, 14, 214, 0.1) 100%);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(180deg,
            rgba(33, 37, 41, 1.0),
            rgba(33, 37, 41, 0.5) 100%);
}

.education-title {
    min-height: 50%;
    width: 240px;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

div>.education-img {
    display: block;
    height: auto;
    width: 100%;
}

.education-content {
    height: 350px;
    width: 250px;
}

.mask-text {
    opacity: 0.0;
    transition: 0.5s;
}

.mask-text:hover {
    opacity: 1.0;
}

.date-text {
    color: rgb(222, 218, 214);
    font-size: 25px;
}

input {
    background-color: rgb(33, 37, 41);
    border: none;
}

input:focus {
    outline: none;
}

.input-area {
    height: 150px;
}

.image-upload>input {
    display: none;
}

.image-upload {
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
}

.edit-icon {
    position: absolute;
    top: 0px;
    left: 178px;
    display: none;
}

.education-content:hover .edit-icon {
    display: flex;
}

.edit-icon-color {
    background-color: rgba(155, 101, 11, 1.0);

    /* Chrome 10-25, Safari 5.1-6 */
    background-image: -webkit-linear-gradient(135deg,
            rgba(155, 101, 11, 1.0),
            rgba(217, 147, 33, 1.0) 100%);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(135deg,
            rgba(155, 101, 11, 1.0),
            rgba(219, 149, 34, 1.0) 100%);

    font-size: 30px;
    width: 32px;
    height: 32px;
    text-align: center;
}

.edit-button {
    width: 35px;
    height: 35px;
}